#Visual Studio files
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.DotSettings.user
[Oo]bj/
*.scc
Web.Release.Config
*.publishsettings

# Build results
[Oo]bj/
[Tt]est[Rr]esult*/

#Tooling
_ReSharper*/
*.[Rr]e[Ss]harper

#Subversion files
*.svn

# Office Temp Files
~$*

#PII/large files
data/
App_Data/

#JS build
**/.tmp
**/.sass-cache

#node
npm-debug.log

#OS junk files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
